* {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}

body {
  background: #c7d0d7;
  color: #fff;
  margin: 0 30%;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 3% 0;
  color: rgb(90, 4, 20);
}

table {
  border: 1px solid;
  text-align: center;
  width: 100%;
  margin: 6% 10%;
  background: #14213d;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background: #4e2845;
}

h2 {
  text-align: center;
  color: rgb(90, 4, 20);
}

form {
  margin: 0 20%;
}

input[type="text"] {
  margin: 5%;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid black;
}

button {
  padding: 5px;
  border: 2px solid black;
  box-shadow: 2px 4px;
  float: right;
}

.contact-information {
  margin: 0 10%;
  width: 100%;
}

p {
  text-align: center;
  margin-top: 6%;
  color: #000;
}

.contact-information ul {
  text-align: center;
  margin-top: 8%;
  color: #000;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 8%;
  width: 100%;
  padding: 12px;
  background: #14213d;
  border: 2px solid black;
  border-radius: 10px;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  padding: 5px;
  cursor: pointer;
}

footer h3 {
  margin: 15% 8%;
  width: 100%;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 15px;
  background: #14213d;
}

.hide {
  display: none;
}

.show-date {
  color: #000;
  margin: 2% 20%;
}

@media only screen and (max-width: 425px) {
  body {
    margin: 0 10%;
  }
}
